<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="PLN_Packages" value="https://pkgs.dev.azure.com/DevOps-Applications-EGL/1e9a9e83-9409-46ea-9dff-ea54190c04bf/_packaging/PLN_Packages/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>